@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 50% 50%;
    }
     
    100% {
        background-position: 100% 100%;
    }
}
@keyframes animatedHeaderText-left {
    0% ,50%, 100% {
        backface-visibility: hidden;
    }
    0% {
        opacity: 0;
        transform: translate(-4rem);
    }
    50% {
        opacity: .3;
        transform: translate(5rem);   
    }
    100% {
        opacity: 1;
        transform: translate(0rem);
    }
}

@keyframes animatedHeaderText-right {
    0% ,50%, 100% {
        backface-visibility: hidden;
    }
    0% {
        opacity: 0;
        transform: translate(5rem);
    }
    50% {
        opacity: .3;
        transform: translate(-4rem);   
    }
    100% {
        opacity: 1;
        transform: translate(0rem);
    }
}

@keyframes animatedMainText {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

