.header-font-big {

    text-transform: uppercase;
    font-family: lato;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 600;
}
.header-font-mid {
    text-transform: uppercase;
    font-family: lato;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 600;
}
.header-font-small {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .4rem;
}

.mainText {
    text-transform: uppercase;
    font-family: lato;
    word-spacing: .2rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: .1rem;
}