//colors for background
$blue-color-1:rgba(87, 131, 230,.5);
$blue-color-2:rgba(135, 206, 233,.5);
$blue-color-3:rgba(94, 185, 233,.5);

$purple-color-1:rgba(193, 200, 227,.5);
$purple-color-2:rgba(136, 100, 205,.5);

$purple-color-3:rgba(136, 100, 205,0);

//colors for Texts
$gray-color: rgb(243, 243, 243);

//yellow color
$yellow-color-1: rgba(245, 245, 102, 0.844);
